.feed{
    padding-inline: 1rem;
    padding-block: 1rem;
    .posts{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .post{
            max-width: 400px;
            background-color: rgb(97, 100, 100);
            padding: 0.6rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .top{
                display: flex;
                gap: 0.5rem;
                align-items: center;
                    img{
                        width: 2.1rem;
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                        object-fit: cover;  
                    }
                p{
                    color: whitesmoke;
                }

            }
         img{
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
         }
         .icon{
            display: flex;
            justify-content: space-between;
            .left{
                display: flex;
                gap: 0.3rem;
                .red{
                    color: red;
                }
            }
         }

        }
    }
}