main{
   height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .form-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;

      form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        input,button{
            min-width: 400px;
            padding: 1rem;
            font-size: 1rem;
            border-radius: 1rem;
            border: none;
        }
        .btn{
            background-color: rgb(145, 5, 5);
            color: white;
        }
    }
        p{
            .link{
                color:rgb(145, 5, 5) ;
                text-decoration: none;
            }
        }
    }
