.button{
    padding-inline: 0.5rem;
    padding-block: 0.6rem;
    color: whitesmoke;
    background-color: rgb(235, 10, 10);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 1rem;
}